html{
	font-family: 'Noto Sans TC', sans-serif;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	font-size:1.2rem;
	text-transform: none;
	letter-spacing:-0.05rem;
}
h1{
	font-family: 'Noto Sans TC', sans-serif;
}

h2{
	font-family: 'Noto Sans TC', sans-serif;
}

h3{
	font-family: 'Noto Sans TC', sans-serif;
}

h4{
	font-family: 'Noto Sans TC', sans-serif;
}

h{
	font-family: 'Noto Sans TC', sans-serif;
}

h1 .text-primary{
	front-color:#125d70
	font-size:3rem;
	letter-spacing:-0.05rem;
	line-height:3rem;
}

.bg-primary{
	background-color:#125d70!important;
	background-image: url("../img/brick-wall.png");
}

.graph_set{
	margin-top:3rem;
}
